<h2 class="mb-4">User List</h2>

<div class="" *ngIf="paginatedUsers.length">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">User Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of paginatedUsers; index as i; trackBy: trackByUsername;">
                <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>

    <app-client-pagination [currentPage]="currentPage" [totalItems]="users.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (pageChanged)="onPageChange($event)"
        (pageSizeChanged)="onPageSizeChange($event)">
    </app-client-pagination>
</div>

<div *ngIf="!users.length" class="alert alert-secondary">
    No users found.
</div>