<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Category Distribution</h5>
                <app-donut-chart *ngIf="chartDonut.length" [data]="chartDonut"></app-donut-chart>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Value Comparison</h5>
                <app-bar-chart *ngIf="chartBar.length" [data]="chartBar" xLabel="Items" yLabel="Amount"></app-bar-chart>
            </div>
        </div>
    </div>
</div>
