<div class="">
    <h2 class="mb-4">Overview</h2>

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Category Distribution</h5>
                    <app-donut-chart *ngIf="dashboardData?.chartDonut"
                        [data]="dashboardData?.chartDonut || []"></app-donut-chart>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Value Comparison</h5>
                    <app-bar-chart *ngIf="dashboardData?.chartBar" [data]="dashboardData?.chartBar || []" xLabel="Items"
                        yLabel="Amount"></app-bar-chart>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mb-4">User List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of dashboardData?.tableUsers; index as i; trackBy: trackByUsername;">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>
</div>